.SheetCard {
  background-color: #efefef;
  border-radius: 4px;
  text-align: center;
  width: 250px;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Shadow effect */
}

@media (max-width: 768px) {
  .SheetCard {
    flex: 0 0 100%;
  }
}
