/* VolOrOp.module.css */
.dropdown {
  /* padding: 5px 10px; */
  /* width: 50px; */
  border-radius: 5px;
  border: 2px solid rgb(42, 127, 255); 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  outline: none;
  color: rgb(42, 127, 255);
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  height: 25px;
}

.dropdown:hover {
  background-color: rgb(42, 127, 255);
  color: white;
}