.diveContainer {
  display: flex;
  position: relative;
}

.diveType {
  display: flex;
  position: relative;
  right: 15%;
  border-radius: 5px;
  border: 1px solid rgb(42, 127, 255); 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: rgb(42, 127, 255);
  cursor: pointer;
}

.diveType:hover {
  background-color: rgb(42, 127, 255);
  color: white;
}

.diveNumber {
  display: flex;
  width: 35px;
}

.diveNumber input[type="text"] {
  width: 35px;
  font-size: 13px;
  padding: 0;
  margin: 0;
  text-align: center;
  height: 22px;
  border: none;
  background: transparent;
  outline: none;
}

.dive {
  display: flex;
  position: relative;
  width: 222px;
  left: 5px;
}

.dive input[type="text"] {
  width: 240px;
  font-size: 13px;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  outline: none;
}

.divePosition {
  display: flex;
  position: relative;
  width: 35px;
  left: 9px;
}

.divePosition input[type="text"] {
  width: 35px;
  font-size: 13px;
  padding: 0;
  margin: 0;
  text-align: center;
  border: none;
  background: transparent;
  outline: none;
}

.diveDD {
  display: flex;
  position: relative;
  width: 28px;
  left: 351px;
}

.diveDD input[type="text"] {
  width: 28px;
  font-size: 13px;
  padding: 0;
  margin: 0;
  text-align: center;
  border: none;
  background: transparent;
  outline: none;
}

.diveContainer1 {
  display: flex;
  position: relative;
  top: 6px;
}

.diveContainer2 {
  display: flex;
  position: relative;
  top: 9.5px;
}

.diveContainer3 {
  display: flex;
  position: relative;
  top: 13.5px;
}

.diveContainer4 {
  display: flex;
  position: relative;
  top: 18px;
}

.diveContainer5 {
  display: flex;
  position: relative;
  top: 22px;
}

.diveContainer6 {
  display: flex;
  position: relative;
  top: 41px;
}

.diveContainer7 {
  display: flex;
  position: relative;
  top: 43.5px;
}

.diveContainer8 {
  display: flex;
  position: relative;
  top: 48px;
}

.diveContainer9 {
  display: flex;
  position: relative;
  top: 66px;
}

.diveContainer10 {
  display: flex;
  position: relative;
  top: 69px;
}

.diveContainer11 {
  display: flex;
  position: relative;
  top: 69px;
}

.diveOptionsContainer {
  position: absolute;
  color: black;
  width: 150px;
  top: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1;
  max-height: 100px;
  overflow-y: auto;
  display: inline-block;
}

.diveOptionsContainer div {
  cursor: pointer;
  padding: 5px;
}

.diveOptionsContainer div:hover {
  background-color: #f0f0f0;
}

/* .inputReadOnly {
  cursor: none;
  user-select: none;
  pointer-events: none;
} */
