/* NewDiveSheet.module.css */

.container {
  display: flex;
  position: relative;
  justify-content: center;
  width: 900px;
  height: auto;
  margin: auto;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.overlayForm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

.fullContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}