.container {
  display: flex;
  position: relative;
  justify-content: center;
  width: 900px;
  height: auto;
  margin: auto;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}


.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

.fullContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.overlayForm input[type="text"],
.overlayForm input[type="number"] {
  outline: 2px solid red;
}

.overlayForm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.diveInputContainer{
  display: flex;
}

.diveInputContainer-dive-0{
  display: flex;
  flex-direction: row;
  width: 200px;
  color: blueviolet;
}
.dive-1{
  display: flex;
  flex-direction: row;
}
.dive-2{
  display: flex;
  flex-direction: row;
}
.dive-3{
  display: flex;
  flex-direction: row;
}
.dive-4{
  display: flex;
  flex-direction: row;
}
.dive-5{
  display: flex;
  background-color: black;
}


.divenumber{
  background-color: blue;
  width: 50px;
}

.dive {
  background-color: brown;
  width: 50px;
}

.position {
  background-color: coral;
  width: 50px;
}

.dd {
  background-color: black;
  width: 50px;
}