*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;

  margin: 0;
  min-height: 100vh;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.diveContainer {
  display: flex;
}

.diveContainer-0 {
  display: flex !important;
  flex-direction: row !important;
  width: 800px !important;
  color: blueviolet !important;
  position: relative;
  top: 3.4px;
}
.diveInputContainer-dive-1 {
  display: flex !important;
  flex-direction: row !important;
  position: relative;
  top: 5.7px;
}
.diveInputContainer-dive-2 {
  display: flex !important;
  flex-direction: row !important;
  position: relative;
  top: 8.4px;
}
.diveInputContainer-dive-3 {
  display: flex !important;
  flex-direction: row !important;
  position: relative;
  top: 11.2px;
}
.diveInputContainer-dive-4 {
  display: flex !important;
  flex-direction: row !important;
  position: relative;
  top: 14.3px;
}
.diveInputContainer-dive-5 {
  display: flex !important;
  position: relative;
  top: 33.1px;
}
.diveInputContainer-dive-6 {
  display: flex !important;
  background-color: black !important;
  position: relative;
  top: 50px;
}
.diveInputContainer-dive-7 {
  display: flex !important;
  background-color: black !important;
  position: relative;
  top: 50px;
}
.diveInputContainer-dive-8 {
  display: flex !important;
  background-color: black !important;
}
.diveInputContainer-dive-9 {
  display: flex !important;
  background-color: black !important;
}
.diveInputContainer-dive-10 {
  display: flex !important;
  background-color: black !important;
}
.diveInputContainer-dive-11 {
  display: flex !important;
  background-color: black !important;
}

a,
a:visited {
  color: #00d8ff
}

nav > ul {
  margin: 0;
  padding: 16px 32px;
}

.left-sidebar {
  position: fixed;
  top: 140px;
  left: 40px;
  bottom: 100px;
  width: 275px;
  height: 700px;
  background-color: white;
  border-radius: 10px;
}

.right-sidebar {
  position: fixed;
  top: 140px;
  right: 40px;
  bottom: 100px;
  width: 275px;
  height: 700px;
  background-color: white;
  border-radius: 10px;
}

.title-box {
  position: fixed;
  border-radius: 50px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  height: 60px;
  background-color: white;
  display: flex;         /* enable flex */
  justify-content: center; /* align horizontally center */
  align-items: center;    /* align vertically center */
}

.title-box h1 {
  color: rgb(0, 187, 255);
  font-size: 30px; 
  margin: 0; 
}